USE [master]
GO
/****** Object:  Database [TECH_ARTIFICIALES]    Script Date: 7/8/2024 00:35:09 ******/
CREATE DATABASE [TECH_ARTIFICIALES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TECH_ARTIFICIALES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TECH_ARTIFICIALES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TECH_ARTIFICIALES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TECH_ARTIFICIALES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TECH_ARTIFICIALES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TECH_ARTIFICIALES]
GO
/****** Object:  Table [dbo].[ANILLA]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANILLA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tamaño] [varchar](50) NULL,
	[marca] [varchar](50) NULL,
	[cantidad] [int] NULL,
	[peso] [float] NULL,
 CONSTRAINT [PK_ANILLA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANZUELO]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANZUELO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [varchar](50) NULL,
	[descripcion] [varchar](150) NULL,
	[cantidad] [int] NULL,
	[peso] [float] NULL,
 CONSTRAINT [PK_ANZUELO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARMADO]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARMADO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_remito] [int] NULL,
	[id_artificial] [int] NULL,
	[id_color] [int] NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_ARMADO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARTIFICIAL]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIFICIAL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](50) NULL,
	[id_color] [int] NULL,
	[modelo] [varchar](50) NULL,
	[imagen] [varchar](150) NULL,
	[cantidad] [int] NULL,
	[peso] [float] NULL,
 CONSTRAINT [PK_ARTIFICIAL] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BLISTER]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLISTER](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NULL,
	[descripcion] [varchar](150) NULL,
	[cantidad] [int] NULL,
	[peso] [float] NULL,
 CONSTRAINT [PK_BLISTER] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARCASA]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARCASA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NULL,
	[descripcion] [varchar](150) NULL,
	[cantidad] [int] NULL,
	[peso] [float] NULL,
 CONSTRAINT [PK_CARCASA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARTON]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARTON](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NULL,
	[descripcion] [varchar](150) NULL,
	[cantidad] [int] NULL,
	[peso] [float] NULL,
 CONSTRAINT [PK_CARTON] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COLOR]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLOR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[color] [varchar](50) NULL,
	[descripcion] [varchar](150) NULL,
 CONSTRAINT [PK_COLOR] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PITON]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PITON](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NULL,
	[descripcion] [varchar](150) NULL,
	[cantidad] [int] NULL,
	[peso] [float] NULL,
 CONSTRAINT [PK_PITON] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REMITO]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMITO](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [int] NULL,
	[destino] [varchar](50) NULL,
	[fechaCreacion] [date] NULL,
 CONSTRAINT [PK_REMITO] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STANDAR]    Script Date: 7/8/2024 00:35:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STANDAR](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NULL,
	[idAnillasA] [int] NULL,
	[idAnillasP] [int] NULL,
	[idAnzueloS] [int] NULL,
	[idAnzueloT] [int] NULL,
	[idBlister] [int] NULL,
	[idCarton] [int] NULL,
	[idPiton] [int] NULL,
 CONSTRAINT [PK_STANDAR] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_ANZUELO]    Script Date: 7/8/2024 00:35:09 ******/
CREATE NONCLUSTERED INDEX [IX_ANZUELO] ON [dbo].[ANZUELO]
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
